<h1> <%= @workout.date %></h1>
<form action="/workouts/<%= @workout.id %>/edit" method="post">
  <label>Edit Notes:</label>
  <input type="text" name="notes" value="<%= @workout.notes %>">
  <br></br>

  <input type="submit" value="Save notes">
</form>
