<h1>Welcome, <%= @user.username %></h1>
<br></br>
<h3>Workouts</h3>
<ul>
  <% current_user.workouts.all.order(:date).each do |workout| %>
      <li><a href="/workouts/<%= workout.id %>"><%= workout.date %></li>
      <br></br>
  <% end %>
</ul>
<form action="/workouts/new" method="get">
  <input type="submit" value="Add New Workout">
</form>
