<h1>Workouts</h1>
<ul>
  <% current_user.workouts.all.order(:date).each do |workout| %>
      <li><a href="/workouts/<%= workout.id %>"><%= workout.date %></li>
      <br></br>
  <% end %>

  <form action="/workouts/new" method="get">
    <input type="submit" value="Add New Workout">
  </form>
</ul>
