<h1>New Workout </h1>
<form action="/workouts/new" method="post">
  <label>Date:</label>
  <input type="date" name="workout[date]">
  <br></br>
  <label>Notes:</label>
  <input type="text" name="workout[notes]">
  <br></br>
  <input type="submit" value="Create Workout">
</form>
