<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Add Resistance Exercise</h2>
<form action="/exercises/resistance/add" method="post">
  <% if current_user.exercises.where(category: 'resistance').exists? %>
    <h3><label>Choose Exercise:</label></h3>
    <% current_user.exercises.where(category: 'resistance').each do |exercise| %>
        <input type="radio" name="name" value="<%= exercise.name %>"><%= exercise.name %></input>
    <% end %>
    <br></br>

    <label>Sets:</label>
    <input type="number" min="1" name="resistance[sets]">
    <br></br>

    <label>Reps:</label>
    <input type="number" min="1" name="resistance[reps]">
    <br></br>

    <label>Weight:</label>
    <input type="number" min="1" name="resistance[weight]">
    <br></br>

    <input type="submit" value="Add To Workout">
  <% end %>
</form>

<h3>Create Resistance Exercise</h3>
<form action="/exercises/resistance/new" method="post">
  <input type="hidden" name="new_resistance[category]" value="resistance">
  <label>Name:</label>
  <input type="text" name="new_resistance[name]">
  <br></br>

  <label>Description:</label>
  <input type="text" name="new_resistance[description]">
  <br></br>

  <label>Sets:</label>
  <input type="number" min="1" name="new_resistance[sets]">
  <br></br>

  <label>Reps:</label>
  <input type="number" min="1" name="new_resistance[reps]">
  <br></br>

  <label>Weight:</label>
  <input type="number" min="1" name="new_resistance[weight]">
  <br></br>

  <input type="submit" value="Add To Workout">
</form>
