<h1>My Exercises</h1>

<% current_user.exercises.each do |exercise| %>
    <h4><%= exercise.name %></h4>
    <p><%= exercise.category %></p>
    <p><%= exercise.description %></p>
    <form action="/exercises/<%= exercise.id %>/delete-from-my-exercises" method="post">
      <input type="submit" value="Delete From My Exercises">
    </form>
    <br></br>
<% end %>
