<h1>Add Cardio</h1>
<form action="/exercises/cardio/add" method="post">
  <% if current_user.exercises.exists? %>
    <h3><label>Choose Exercise:</label></h3>
    <% current_user.exercises.where(category: 'cardio').each do |exercise| %>
        <input type="radio" name="cardio[name]" value="<%= exercise.name %>"><%= exercise.name %></input>
    <% end %>
    <br></br>

    <label>Intensity:</label>
    <input type="radio" name="cardio[intensity]" value="low">Low</input>
    <input type="radio" name="cardio[intensity]" value="medium">Medium</input>
    <input type="radio" name="cardio[intensity]" value="high">High</input>
    <br></br>

    <label>Minutes Performed:</label>
    <input type="number" min="1" name="cardio[minutes]">
    <br></br>

    <input type="submit" value="Add Exercise">
  <% end %>
</form>

<form action="/exercises/cardio/new" method="get">
  <input type="submit" value="Create New Cardio Exercise">
</form>
