<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Create Cardio Exercise</h1>
<form action="/exercises/cardio/new" method="post">
  <input type="hidden" name="cardio[category]" value="cardio">
  <label>Name:</label>
  <input type="text" name="cardio[name]">
  <br></br>

  <label>Description:</label>
  <input type="text" name="cardio[description]">
  <br></br>

  <input type="submit" value="Create Exercise">
</form>
